USE [master]
GO
/****** Object:  Database [LeaveManagementSystem]    Script Date: 19/10/2023 10:39:31 pm ******/
CREATE DATABASE [LeaveManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LeaveManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LeaveManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LeaveManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LeaveManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LeaveManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LeaveManagementSystem]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [nvarchar](50) NULL,
	[Fname] [nvarchar](50) NULL,
	[Lname] [nvarchar](50) NULL,
	[Genderid] [int] NULL,
	[RoleTypeId] [int] NULL,
	[EmploymentDate] [date] NULL,
 CONSTRAINT [PK__Employee__3213E83F20488815] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveTypes]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveSubmissionTable]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveSubmissionTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[EmpID] [int] NULL,
	[LeaveTypeId] [int] NULL,
	[LeaveStatusId] [int] NULL,
	[SubmissionDate] [date] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TotalDays] [int] NULL,
	[Comments] [nvarchar](max) NULL,
	[CancelId] [int] NULL,
 CONSTRAINT [PK__LeaveSub__3213E83F9EF87243] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveStatus]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveStatus](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CancelationReasons]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CancelationReasons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reason] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[gender] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewAll]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE view [dbo].[ViewAll] As
select 
sub.id,
e.EmployeeID,
g.gender,
e.Fname + e.Lname[Full Name],
lt.type,
sub.SubmissionDate,
sub.StartDate,
sub.EndDate,
sub.TotalDays,
sub.Comments,
ls.status,
c.reason
from LeaveSubmissionTable sub
left join Employee E on E.id = sub.EmpID
left join LeaveTypes lt on lt.id = sub.LeaveTypeId
left join LeaveStatus ls on ls.id = sub.LeaveStatusId
left join Gender g on g.id = e.Genderid
left join CancelationReasons c on c.id = sub.CancelId
GO
/****** Object:  Table [dbo].[RoleTypes]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleTypes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roles] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] NOT NULL,
	[StudentName] [nchar](50) NULL,
	[StudentFees] [int] NULL,
	[StudentCity] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CancelationReasons] ON 

INSERT [dbo].[CancelationReasons] ([id], [reason]) VALUES (1, N'Select Reason')
INSERT [dbo].[CancelationReasons] ([id], [reason]) VALUES (2, N'Cancellation Reason 1')
INSERT [dbo].[CancelationReasons] ([id], [reason]) VALUES (3, N'Cancellation Reason 2')
SET IDENTITY_INSERT [dbo].[CancelationReasons] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([id], [EmployeeID], [Fname], [Lname], [Genderid], [RoleTypeId], [EmploymentDate]) VALUES (1, N'1234', N'Kemoy', N'Gallimore', 2, 2, CAST(N'2010-02-20' AS Date))
INSERT [dbo].[Employee] ([id], [EmployeeID], [Fname], [Lname], [Genderid], [RoleTypeId], [EmploymentDate]) VALUES (2, N'4321', N'John', N'Brown', 2, 4, CAST(N'2020-03-30' AS Date))
INSERT [dbo].[Employee] ([id], [EmployeeID], [Fname], [Lname], [Genderid], [RoleTypeId], [EmploymentDate]) VALUES (3, N'2468', N'Mary', N'Jane', 3, 3, CAST(N'2000-01-10' AS Date))
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([id], [gender]) VALUES (1, N'Select Gender')
INSERT [dbo].[Gender] ([id], [gender]) VALUES (2, N'M')
INSERT [dbo].[Gender] ([id], [gender]) VALUES (3, N'F')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveStatus] ON 

INSERT [dbo].[LeaveStatus] ([id], [status]) VALUES (1, N'Select Status')
INSERT [dbo].[LeaveStatus] ([id], [status]) VALUES (2, N'Approved')
INSERT [dbo].[LeaveStatus] ([id], [status]) VALUES (3, N'Denied')
SET IDENTITY_INSERT [dbo].[LeaveStatus] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveSubmissionTable] ON 

INSERT [dbo].[LeaveSubmissionTable] ([id], [EmpID], [LeaveTypeId], [LeaveStatusId], [SubmissionDate], [StartDate], [EndDate], [TotalDays], [Comments], [CancelId]) VALUES (2, 1, 2, 5, CAST(N'2023-10-11' AS Date), CAST(N'2023-01-10' AS Date), CAST(N'2023-05-10' AS Date), 4, N'test', 2)
INSERT [dbo].[LeaveSubmissionTable] ([id], [EmpID], [LeaveTypeId], [LeaveStatusId], [SubmissionDate], [StartDate], [EndDate], [TotalDays], [Comments], [CancelId]) VALUES (3, 1, 5, 5, CAST(N'2023-10-11' AS Date), CAST(N'2023-01-10' AS Date), CAST(N'2023-04-10' AS Date), 3, N'test', 3)
INSERT [dbo].[LeaveSubmissionTable] ([id], [EmpID], [LeaveTypeId], [LeaveStatusId], [SubmissionDate], [StartDate], [EndDate], [TotalDays], [Comments], [CancelId]) VALUES (4, 1, 4, 5, CAST(N'2023-10-14' AS Date), CAST(N'2023-10-06' AS Date), CAST(N'2023-10-10' AS Date), 4, N'Additional Comments', 2)
SET IDENTITY_INSERT [dbo].[LeaveSubmissionTable] OFF
GO
SET IDENTITY_INSERT [dbo].[LeaveTypes] ON 

INSERT [dbo].[LeaveTypes] ([id], [Type]) VALUES (1, N'Select a Leave Type')
INSERT [dbo].[LeaveTypes] ([id], [Type]) VALUES (2, N'Sick')
INSERT [dbo].[LeaveTypes] ([id], [Type]) VALUES (3, N'Personal')
SET IDENTITY_INSERT [dbo].[LeaveTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[RoleTypes] ON 

INSERT [dbo].[RoleTypes] ([id], [roles]) VALUES (1, N'Select Role')
INSERT [dbo].[RoleTypes] ([id], [roles]) VALUES (2, N'Admin')
INSERT [dbo].[RoleTypes] ([id], [roles]) VALUES (3, N'Manager')
SET IDENTITY_INSERT [dbo].[RoleTypes] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Genderid__Gender] FOREIGN KEY([Genderid])
REFERENCES [dbo].[Gender] ([id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Genderid__Gender]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_RoleTypes] FOREIGN KEY([RoleTypeId])
REFERENCES [dbo].[RoleTypes] ([id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_RoleTypes]
GO
ALTER TABLE [dbo].[LeaveSubmissionTable]  WITH CHECK ADD  CONSTRAINT [FK LeaveTypeId_LeaveTypes] FOREIGN KEY([LeaveTypeId])
REFERENCES [dbo].[LeaveStatus] ([id])
GO
ALTER TABLE [dbo].[LeaveSubmissionTable] CHECK CONSTRAINT [FK LeaveTypeId_LeaveTypes]
GO
ALTER TABLE [dbo].[LeaveSubmissionTable]  WITH CHECK ADD  CONSTRAINT [FK__LeaveSubm__EmpID__29221CFB] FOREIGN KEY([EmpID])
REFERENCES [dbo].[Employee] ([id])
GO
ALTER TABLE [dbo].[LeaveSubmissionTable] CHECK CONSTRAINT [FK__LeaveSubm__EmpID__29221CFB]
GO
ALTER TABLE [dbo].[LeaveSubmissionTable]  WITH CHECK ADD  CONSTRAINT [FK_Cancelid_Cancel] FOREIGN KEY([CancelId])
REFERENCES [dbo].[CancelationReasons] ([id])
GO
ALTER TABLE [dbo].[LeaveSubmissionTable] CHECK CONSTRAINT [FK_Cancelid_Cancel]
GO
ALTER TABLE [dbo].[LeaveSubmissionTable]  WITH CHECK ADD  CONSTRAINT [FK_LeaveStatusid_LeaveStatus] FOREIGN KEY([LeaveStatusId])
REFERENCES [dbo].[LeaveStatus] ([id])
GO
ALTER TABLE [dbo].[LeaveSubmissionTable] CHECK CONSTRAINT [FK_LeaveStatusid_LeaveStatus]
GO
/****** Object:  StoredProcedure [dbo].[InsertLeaveRequest]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<This procedure should accept the values from the submission page and input into the leave submission table>
-- =============================================
CREATE PROCEDURE [dbo].[InsertLeaveRequest]
	-- Add the parameters for the stored procedure here
	@Empid int,
	@SubmissionDate date,
	@LeaveTypeId int,
	@StartDate Date,
	@EndDate Date,
	@TotalDays int,
	@Comments nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into LeaveSubmissionTable (EmpID, SubmissionDate, LeaveTypeId, StartDate, EndDate, TotalDays, Comments,leaveStatusId)
	VALUES (@Empid, @SubmissionDate, @LeaveTypeId, @StartDate, @EndDate, @TotalDays, @Comments, 5)
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateLeaveStatus]    Script Date: 19/10/2023 10:39:32 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<This procedure should update the leave status based on the selection>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateLeaveStatus] 
	-- Add the parameters for the stored procedure here
	@LeaveID int,
	@NewStatus int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update LeaveSubmissionTable
	set LeaveStatusId = @NewStatus
	where id=@LeaveID
END
GO
USE [master]
GO
