/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}
div{
    position:relative;
}

:root {
    --bg-color: #005A85;
    --lightBlue: #007AB5;
    --blue-white: #D8E6EC;
    --dark-blue: #004262;
    --exit-bg: #BC0707;
    --exit-bg-hover: #a60303;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin:0px;
    background-color: var(--lightBlue);
    color: var(--blue-white) !important
}

header {
    background-color: var(--bg-color)
}

a {
    color: var(--blue-white)
}

.nav-link {
    color: var(--blue-white)
}

.sidebar {
    background: var(--bg-color);
    width: 200px;
    height: 100vh;
    position: fixed;
    display: grid;
}

.sidebar h4, .sidebar input {
    padding: .6em 0px;
    margin: 0px;
    text-align: center;
    font-size: 18px;
}

.PageNav {
    
}
#logo {
    width: 100%;
    padding: 1em 10px;
}

.PageNav a {
    background-color: var(--blue-white);
    color: var(--dark-blue) !important;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--dark-blue);
    border-top: 2px solid var(--dark-blue);
    padding: .6em 0px;
}

.PageNav h4 {
    background: inherit;
    border-bottom: 1px solid var(--dark-blue);
    border-top: 2px solid var(--dark-blue);
}

.PageNav a:hover {
    background: var(--bg-color);
    color: var(--blue-white) !important
}

.PageNav a:active {
    background: var(--lightBlue);
    color: var(--blue-white)
}

.siderbarFooter {
    align-content: end;
}

.exit h4, .exit input {
    background-color: var(--exit-bg);
    color: var(--blue-white);
    width:100% !important;
}

.sidebar a {
    text-decoration: none;
}

h1, h1, h3, h4, h5 {
    font-family: Inter;
    font-weight: 100;
}

.rightSection {
    margin-left: 200px;
}

.grid {
    display: grid;
}

.half {
    grid-template-columns: 50% 50%
}

.ratio1-2 {
    grid-template-columns: 40% 60%
}

.datagrid {
    background: red;
    height: 200px;
}

.labelstbox {
    display: grid;
    grid-template-columns: 100px 100%
}

.addcomments {
    display: grid;
    grid-template-columns: 200px 100%
}

.formControls {
    padding: 4em 0;
}

.infoButtons {
    background: var(--dark-blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 1.2em 1em
}

.infoButtons p {
    margin: 0px
}

.infoContainer {
    width: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px
}

select, input {
    width: 210px;
    padding-left: 1px 0px 1px 5px;
    border: none;
}
input[type="text" i], select {
    box-shadow:black 3px 3px 10px -2px;
}
textarea {
    
    border: none;
    padding: 1px 5px;
    border-radius: 5px;
}

input[type="file" i] {
    width: 400px !important;
    border: none;
    padding: 0;
}

input[type="image" i]{
    width:22px;
    margin-bottom:-5px;
    padding:0px;
}

.btn {
    padding: 7px 20px
}

.LoginInfo {
    padding: 20px 0px 20px 50px;
    margin-bottom: 40px;
    background: var(--bg-color);
}
.Content{
    padding-left:50px;
    padding-bottom:4em;
    padding-right:20px;
}
.LoginInfo span:nth-child(odd) {
    font-weight:600
}
.LoginInfo span:nth-child(even){
    padding-right:1.5em;
}
.fire {
    position: absolute !important;
    background: var(--lightBlue);
    box-shadow: black 0px 0px 40px 0px;
    top: 32px;
    left: 10px;
    padding: 7px;
    border-radius: 18px;
    overflow: hidden;
}

.UpdateSection{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.textcal {
    background: white;
    margin-right:-30px;
}

.CalenderPanels {
    position: absolute !important;
    background: var(--lightBlue);
    box-shadow: black 0px 0px 40px 0px;
    top: 32px;
    left: 10px;
    padding: 7px;
    border-radius: 18px;
    overflow: hidden;
    z-index: 2
}

input[type="submit" i]{
    width:90px
}

.upperFormEntries {
    display: grid;
    grid-template-columns: 115px auto;
    gap: 15px 0px
}

.lowerFormEntries {
    display: grid;
    grid-template-columns: 180px auto;
    gap: 15px 0px
}

.submit_clear_btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.ting {
    display:grid;
    grid-template-columns:110px auto;
    gap:20px 0px;
}

.leavebtn {
    color:white;
    width: 180px !important;
    padding: 13px 0px;
    background: var(--dark-blue);
    border-radius: 30px;
    box-shadow: 0px 5px 5px 1px black;
    border: 1px black solid;
    font-size:18px;
    
}
.leavebtn:hover{
    background: var(--lightBlue);
    box-shadow: 0px 5px 5px 1px white;
    color: var(--blue-white);
    
}

.LeaveButtons {
    height: 400px;
    display: grid;
    padding: 1em 0.5em;
}

.Loginbg {
    height: 100vh;
    background-image: url('/Assets/img/business 2.jpeg');
    background-repeat: none;
    background-size: cover;
    background-color: black;
    color:white;
    padding: 0px;
}

.Loginbg > div {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox {
    background-color: #004262;
    Padding: 2em 5em;
    height: max-content;
    width: max-content;
    border-radius:10px
}
.entryfields {
    display:grid;
    gap:10px
}
.entryfields div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
}
.LoginFields{
    
}


.loginbox input[type="text" i], .loginbox input[type="password" i] {
    width: 250px;
    padding: 5px;
    font-size: 16px
}

.loginbox div:nth-child(4) {
    padding-top:1em;
    display:flex;
    justify-content:end
}

.loginbox div:nth-child(5) {
    border-top:2px solid var(--lightBlue);
    display: flex;
    justify-content: center;
    margin-top:2em;
    padding-top:1em
}

.loginbox input[type="submit" i] {
    height: min-content;
    padding: 7px;
    border-radius:5px
}

.gridheader {
    color: White;
    background-color: #004262;
}